<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Invoice</title>

<style>

body{
    font-family: Arial, sans-serif;
    margin:40px;
}

h1{
    text-align:center;
    margin-bottom:40px;
}

.info{
    margin-bottom:30px;
    line-height:1.8;
    font-size:16px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th,td{
    border:2px solid #333;
    padding:8px;
    text-align:center;
}

th{
    font-size:20px;
}

.description{
    text-align:left;
}

.total{
    font-weight:bold;
}

.footer{
    margin-top:60px;
    font-size:16px;
}

</style>

</head>

<body>

<h1>INVOICE</h1>

<div class="info">
<b>Date:</b> {{ date }} <br><br>

<b>Customer Name:</b> {{ name }} <br><br>

<b>Company Name:</b> {{ company_name }} <br><br>

<b>Type of Charge:</b> {{ charge_type }} <br><br>

<b>Billing Period:</b> {{ billing_period }}

</div>

<table>

<tr>
<th>Description</th>
<th>Days</th>
<th>Rate</th>
<th>Amount</th>
</tr>

<tr>
<td class="description"><b>Vehicle Hire Charges</b></td>
<td>{{ days1 }}</td>
<td>{{ rate1 }}</td>
<td>{{ amount1 }}</td>
</tr>

<tr>
<td class="description"><b>Paid Working Days</b></td>
<td>{{ days }}</td>
<td>{{ rate }}</td>
<td>{{ amount }}</td>
</tr>

<tr>
<td class="description"><b>Paid Holidays</b></td>
<td>{{ days2 }}</td>
<td>{{ rate2 }}</td>
<td>{{ amount2 }}</td>
</tr>

<tr>
<td class="description"><b>Additions:</b></td>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
<td class="description">Extra Km / Hours</td>
<td>{{ extra_days }}</td>
<td>{{ extra_rate }}</td>
<td>{{ extra_amount }}</td>
</tr>

<tr>
<td class="description">Toll / Parking</td>
<td>{{ toll_days }}</td>
<td>{{ toll_rate }}</td>
<td>{{ toll_amount }}</td>
</tr>

<tr class="total">
<td colspan="3">TOTAL AMOUNT</td>
<td>{{ total }}</td>
</tr>

</table>


<div class="footer">

Thank you for your valuable business. We appreciate the opportunity to serve you and look forward to working with you again.

</div>

</body>
</html>
